/* import fonts from google */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;600&display=swap');

body{
  background-color: white;
  margin: 20px;
}
/* id attributes for the webpage titles with different characteristics */
#title{
  color: black;
  font-family: "Playfair Display";
  font-size: 70px;
  font-weight: 600;
  text-align: left;
  padding: none;
  width: auto;
}
#title2{
  color: black;
  font-family: "Quicksand";
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding: none;
  width: auto;
}
/* to center the pattern sketches on webpage */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
/* style elements of collapsible tab when unclicked */
h1{
  color: black;
  font-family: "Playfair Display";
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  padding: 15px 15px 15px 15px;
  width: 200px;
  background-color: white;
}
/* style elements of rent price number */
p{
  color: black;
  font-style: "Playfair Display";
  font-weight: 600;
  font-size: 40px;
  text-align: left;
  padding: none;
}
/* style elements of collapsible tab when unclicked */
.collapsible {
  color: black;
  border-style: solid;
  border-color: black;
  padding: 15px 15px 15px 15px; 
  outline: none;
  cursor: pointer;
}
/* style elements of collapsible tab when hovered over and clicked */
.active, .collapsible:hover {
  background-color: black;
  color: white;
}
/* used to categorize objects wanted to display in a collapsible */
.content {
  display: none;
  overflow: hidden;
  background-color: none;
}
/* style elements of average rent price number and keeps number hidden until hovered over */
.rentprice {
  position: absolute;
  color: black;
  visibility: hidden;
}
/* controls appearance of sketch and rent number when hovered over */
#imgmanhattan:hover .rentprice {
  visibility: visible;
  opacity: 1;
  position: relative;
  text-align: center;
}

#imgqueens:hover .rentprice {
  visibility: visible;
  opacity: 1;
  position: relative;
  text-align: center;
}

#imgthebronx:hover .rentprice {
  visibility: visible;
  opacity: 1;
  position: relative;
  text-align: center;
}

#imgbrooklyn:hover .rentprice {
  visibility: visible;
  opacity: 1;
  position: relative;
  text-align: center;
}

#imgstatenisland:hover .rentprice {
  visibility: visible;
  opacity: 1;
  position: relative;
  text-align: center;
}

